.Search {
  width: 101%;
  height: 17%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0099ff;
  border: white solid 2px;
}

.Container {
  width: 94%;
  height: 100%;
  margin-top: 1%;
}

.Form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Box {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Box-title {
  color: white;
  font-size: 150%;
  padding: 0.5rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
@media only screen and (min-width: 1024px) {
  .Box-title {
    font-size: 300%;
  }
}
.Box-criteria {
  width: 45%;
  height: 50%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
}
@media only screen and (min-width: 1024px) {
  .Box-criteria {
    height: 40%;
  }
}
.Box-button {
  width: 12%;
  background-color: #93fd90;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.Box-button:hover {
  cursor: pointer;
}

.Sortby {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.Sortby-subtitle {
  display: flex;
  align-items: center;
  color: white;
  font-size: 90%;
  margin: 0.5rem 2rem 0.5rem 2rem;
}
@media only screen and (min-width: 1024px) {
  .Sortby-subtitle {
    font-size: 150%;
  }
}
.Sortby-submit {
  display: flex;
  justify-content: center;
  margin: 0.5rem 2rem 0.5rem 2rem;
  align-self: center;
}
.Sortby-submit:hover {
  cursor: pointer;
}

.Results {
  width: 101%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0099ff;
  border: white solid 2px;
  margin-top: 1%;
}
.Results-feedback {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 130%;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .Results-feedback {
    font-size: 200%;
  }
}

.List {
  display: flex;
  list-style: none;
  padding: 1rem;
  margin-top: 2%;
  width: 90%;
}
@media only screen and (max-width: 1023px) {
  .List {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1024px) {
  .List {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.Item {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 4%;
}
@media only screen and (min-width: 1024px) {
  .Item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25rem;
    height: 44rem;
  }
  .Item:hover {
    cursor: pointer;
    transform: scale(1.02) perspective(1px);
  }
}
.Item-title {
  display: flex;
  justify-content: center;
  color: black;
  padding: 0.5rem;
  font-size: 2rem;
  margin-top: 15px;
}
@media only screen and (min-width: 1024px) {
  .Item-title {
    font-size: 2rem;
  }
}
.Item-img {
  display: flex;
  justify-content: center;
  margin: 0.5rem auto 0.5rem auto;
  max-height: 10%;
  max-width: 70%;
}
@media only screen and (min-width: 1024px) {
  .Item-img {
    max-height: 50%;
    max-width: 50%;
  }
}
.Item-description {
  display: flex;
  justify-content: center;
  color: black;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1%;
}
.Item-numericals {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.Item-year {
  width: 35%;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  color: white;
  background-color: #0099ff;
  padding: 0.5rem;
  font-size: 1rem;
}
.Item-rating {
  width: 35%;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  color: white;
  background-color: #0099ff;
  padding: 0.5rem;
  font-size: 1rem;
}

body {
  width: 101vw;
  height: 97vh;
  margin-left: -1%;
  background-color: #cce4f5;
  font-family: "Quicksand";
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

/*# sourceMappingURL=index.css.map */
